<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Bus Drivers and Bananas</title>
</head>
<body>



    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Bus Drivers and Bananas</h1>
        <p class="lead">Here at Bus Drivers and Bananas we want you to learn concepts in a way that works for you. Even if that means explaining Science without words using well... Bus Drivers and Bananas</p>
        <hr class="my-4">
        <p>Search for topics that interest you or post your own explanation and have it moderated</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Search For Topics</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Add a Explanation of Your Own</a>
        </p>
    </div>



</body>
</html>