<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Bus Drivers and Bananas</title>

    {% include "styling_links.html" %}

    {% include "scripting_links.html" %}

</head>
<body>

{% include "navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col col-sm-1">

        </div>
        <div class="col col-sm">
            <div id="site-welcome" class="jumbotron jumbotron-fluid">
                <div class="d-flex justify-content-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FD9YO-gKLVw" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen style="margin: 10px;"></iframe>
                </div>

                <h1 id="welcome-header" class="display-4"><strong>What is 'Bus Drivers and Bananas'</strong></h1>
                <p class="lead">Here at <strong>Bus Drivers and Bananas</strong> we want you to learn
                    concepts in a way that works for you. Even if that means explaining Science without lots of writing.
                    You can choose to learn in a way that suits you and develop understanding using anything, even
                    say...
                    <strong>Bus Drivers and Bananas</strong>
                </p>
                <hr class="my-4">
                <div class="d-flex justify-content-center">
                    <p>Search for topics that interest you or post your own explanation and have it moderated</p>
                </div>

                <div>
                    <div id="about-search" class="container">
                        <div class="d-flex justify-content-center">
                            <p class="lead">Search For Topics</p>
                        </div>
                        <form class="form-inline my-2 my-lg-0  d-flex justify-content-center">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="container d-flex justify-content-center">
                        <a class="btn btn-primary btn-lg" href="/add_post" role="button">Add a Explanation of Your
                            Own</a>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <img src="/static/images/Hack-a-Thon%20Logo.png">
                </div>
            </div>
        </div>
        <div class="col col-sm-1">

        </div>
    </div>
</div>


</body>
</html>