<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Drivers and Bananas</title>

    {% include "styling_links.html" %}

    {% include "scripting_links.html" %}

</head>
<body>

{% include "navbar.html" %}

<div class="container-fluid d-flex justify-content-center">
    <div class="card" id="post-1">
        <div class="card-content-video d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8QzfEzDX2o8" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Alkali Metals <span class="badge badge-primary">New</span> <span class="badge badge-success"><i class="fas fa-check"></i> Moderated</span></h5>
            <p class="card-text">Elsie gets stuck into the Periodic Table Including the Alkali Metals</p>
            <a href="/like/1" class="btn btn-primary"><i class="far fa-smile"></i> 5</a>
        </div>
    </div>
    <p>

    </p>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="card" id="post-2">
        <div class="card-content-video d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Rdyn6-_Ndgc" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Newton's 3rd Law <span class="badge badge-primary">New</span> <span class="badge badge-success"><i class="fas fa-check"></i> Moderated</span></h5>
            <p class="card-text">Brody Explains Newton's 3rd Law Using Elon Musk's Falcon Heavy Rocket Launch</p>
            <a href="/like/2" methods="POST" class="btn btn-primary"><i class="far fa-smile"></i> 10</a>
        </div>
    </div>
</div>

</body>
</html>