<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Drivers and Bananas</title>

    {% include "styling_links.html" %}

    {% include "scripting_links.html" %}

</head>
<body>

{% include "navbar.html" %}

<div class="container">
    <p>
        Elsie gets stuck into the Periodic Table Including the Alkali Metals
    </p>
</div>

<div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8QzfEzDX2o8" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="container">
    <p>
        Brody Explains Newton's 3rd Law Using Elon Musk's Falcon Heavy Rocket Launch
    </p>
</div>

<div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Rdyn6-_Ndgc" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</body>
</html>