<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Drivers and Bananas</title>

    {#  Bootstrap CSS  #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    {#  Bootstrap JS  #}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <p>
        Elsie gets stuck into the Periodic Table Including the Alkali Metals
    </p>
</div>

<div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8QzfEzDX2o8" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="container">
    <p>
        Brody Explains Newton's 3rd Law Using Elon Musk's Falcon Heavy Rocket Launch
    </p>
</div>

<div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Rdyn6-_Ndgc" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</body>
</html>